*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  place-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  gap: 30px;
  display: grid;
  grid-template-columns: 711px 399px;
  justify-items: start;
  align-items: end;
}

.result__video-container {
  margin-bottom: 15px;
  position: relative;
  width: fit-content;
  max-height: 386px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  margin-bottom: 1px;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.search-form__label {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  color: #fff;
}

.search-form__textfield {
  color: white;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 225px;
  width: 100%;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:active) {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  padding-bottom: 5px;
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  align-self: center;
  margin: 0 auto;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  background-color: white;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  background-color: white;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-height: 34px;
}

.button:active {
  background: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
}

.title {
  padding-bottom: 22px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  overflow-y: auto;
  position: relative;
  min-height: 298px;
  min-width: 399px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:active {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
  padding-top: 6px;
}

.content__video-card {
  display: grid;
  padding: 2px;
  grid-template-columns: 200px 194px;
  justify-content: space-between;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 200px;
}

.more-button {
  width: 399px;
  margin: 0px 1px 2px 1px;
  padding-inline: 0;
  padding-block: 0;
}
